
.userbar {
    display: flex;
    margin: auto;
    background-color:#89CFF0;
    margin-top: 40px;
    margin-bottom: -80px;
    width: 80%;
    font-size:120%;
    padding: 5px;
    
    color: black;
    font-weight: bolder;
    -webkit-box-shadow: 6px 5px 50px 47px #89CFF0; 
    box-shadow: 6px 5px 50px 47px #89CFF0;    
}
  .a,
  .b,
  .c {
    background: transparent;
    padding: 5px;
    border: 0.5px dotted #999;
  }

  .b {
    flex: 1;
    text-align: center;
  }

  .c {
    position: relative;
    right: 0;
  }