.flexcontainer {
    display: flex;
    background-color: transparent;
    width: 60%;
    height: 20em;
    justify-content: center;
    margin-top: 15em;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    margin: auto;
    flex-direction: column;
  }

 

  .correct {
    max-width:25%;
    height:auto;
    margin: auto;
    margin-bottom: -10em;
}

  .question {
    margin-top: 25%;
    margin-bottom: 5%;
    font-size: .6em;
    font-weight: bolder;
    position: relative;
    width: 100%;display: flex;
    text-align: center;
    justify-content: center;
  }

  :root {
    --background: #E5FFB3;
    --background-accent: #DBF8A3;
    --background-accent-2: #BDE66E;
    --light: #89CFF0;
    --dark: red;
    --text: black;
  }
  
  body {
    background-color: var(--background);
    background-image: linear-gradient(
      var(--background-accent-2) 50%,
      var(--background-accent) 50%
    ), linear-gradient(
      var(--background-accent) 50%,
      var(--background-accent-2) 50%
    );
    background-repeat: no-repeat;
    background-size: 100% 30px;
    background-position: top left, bottom left;
    min-height: 98vh;
  }
  
  .animation {
    display: block;
    outline: none;
    background-color: var(--light);
    width: 55%;
    margin-top: .5em !important;
    height: 50px;
    border-radius: 30px;
    font-size:.6em;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin: auto;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐙</text></svg>") 16 0,auto !important;
  }
  
  .animation:hover {
    -webkit-box-shadow: 4px 5px 16px 18px #89CFF0; 
    box-shadow: 4px 5px 16px 18px #89CFF0;
    outline: 4px solid white;

  }
  
  @keyframes background {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 400px 0;
    }
  }

