.flexcontainer {
    display: flex;
    background-color: transparent;
    width: 60%;
    height: 20em;
    justify-content: center;
    margin-top: 15em;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    margin: auto;
    flex-direction: column;
  }
