

.topbar {
    display: flex;
    margin: auto;
    box-sizing: content-box;
    width: 90%;
    font-size: 2em;
    padding: 5px;
    color: red
}

.left {
    margin-right: auto;
    text-align: center;
  }
.right {
  margin-left: auto;
  text-align: center;
}
