.flexcontainer {
    display: flex;
    background-color: transparent;
    width: 40%;
    height: 20%;
    justify-content: center;
    margin-top: -5em;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    margin: auto;
    flex-direction: column;
  }

.reset {

    color: white;

}

.title {

    color: white;
}